{% extends 'base.html' %}
{% load static %}

{% block title1 %}
  <title>LJ VirtualLab | Change Password</title>
{% endblock title1 %}

{% block Name %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Change Password</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
          <li class="breadcrumb-item active">Change Password</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
{% endblock %}

{% block NewContent %}
<div class="col-md-9">
    <div class="card card-primary">
      <div class="card-header">
        <div class="nav nav-pills">
          <span class="nav-item">Change Password</span>
        </div>
      </div><!-- /.card-header -->
      {% if error %}
        <div class="text-danger" style="margin-left: 10px;margin-top: 3px;">{{ error }}</div>
      {% endif %}
      {% if success %}
        <div class="text-success" style="margin-left: 10px;margin-top: 3px;">{{ success }}</div>
      {% endif %}
      <div class="card-body">
        <div class="tab-content">
            <form method="POST" class="form-horizontal" enctype="multipart/form-data" autocomplete="off">
              {% csrf_token %}
              <div class="form-group row">
                <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <input type="email" name="em1" class="form-control" id="inputEmail" value="{{ admin.account_id.email }}" disabled>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputName" class="col-sm-2 col-form-label">Current Password</label>
                <div class="col-sm-10">
                  <input type="text" name="pwd" class="form-control" id="inputName" placeholder="Current Password">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputName" class="col-sm-2 col-form-label">New Password</label>
                <div class="col-sm-10">
                  <input type="text" name="pwd1" class="form-control" id="inputName" placeholder="New Password">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputName" class="col-sm-2 col-form-label">Confirm Password</label>
                <div class="col-sm-10">
                  <input type="text" name="pwd2" class="form-control" id="inputName" placeholder="Confirm New Password">
                </div>
              </div>
              <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                  <button type="submit" class="btn btn-success">Update Password</button>
                </div>
              </div>
            </form>
          <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
      </div><!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
{% endblock %}