{% extends 'base.html' %}
{% load static %}

{% block title1 %}
  <title>LJ VirtualLab | View Admin</title>
{% endblock title1 %}

{% block Name %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>View Admin</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}" style="color: grey;">University</a></li>
          <li class="breadcrumb-item active">View_Admin</li>
        </ol>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block NewContent %}
<div class="col-md-12">
  {% if error %}
  <div class="text-danger">{{ error }}</div>
  {% endif %}
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><b>Admin List:</b></h3>
      </div>
      <div class="card-body table-responsive p-0">
        <table class="table">
          <thead>
            <tr style="text-align: center;">
              <th style="width: 80px">Sr No.</th>
              <th style="text-align: left;">Admin Name</th>
              <th style="text-align: left;">Email</th>
              <th>Contact No</th>
              <th>View</th>
              <th>Insert</th>
              <th>Update</th>
              <th>Delete</th>
              <th style="width: 150px;">Action</th>
            </tr>
          </thead>
          <tbody>
              {% for i in all_admin reversed %}
                <tr style="text-align: center;">
                    <td>{{forloop.counter}}</td>
                    <td style="text-align: left;">{{ i.admin_id.admin_name }}</td>
                    <td style="text-align: left;">{{ i.admin_id.account_id.email }}</td>
                    <td>{{ i.admin_id.admin_contact_number }}</td>

                    {% if i.can_view %}
                      <td><img src="{% static 'dist/img/true.png' %}" alt="Yes" width="20px"></td>
                    {% else %}
                      <td><img src="{% static 'dist/img/false.png' %}" alt="No" width="20px"></td>
                    {% endif %}

                    {% if i.can_insert %}
                      <td><img src="{% static 'dist/img/true.png' %}" alt="Yes" width="20px"></td>
                    {% else %}
                      <td><img src="{% static 'dist/img/false.png' %}" alt="No" width="20px"></td>
                    {% endif %}

                    {% if i.can_edit %}
                      <td><img src="{% static 'dist/img/true.png' %}" alt="Yes" width="20px"></td>
                    {% else %}
                      <td><img src="{% static 'dist/img/false.png' %}" alt="No" width="20px"></td>
                    {% endif %}

                    {% if i.can_delete %}
                      <td><img src="{% static 'dist/img/true.png' %}" alt="Yes" width="20px"></td>
                    {% else %}
                      <td><img src="{% static 'dist/img/false.png' %}" alt="No" width="20px"></td>
                    {% endif %}
                    <td>
                      <a href="{% url 'update_admin' i.admin_id.id %}" class="badge bg-primary">Update</a>
                      <a href="{% url 'delete_admin' i.admin_id.account_id.id %}" class="badge bg-danger">Delete</a>
                    </td>
                </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
      <a href="{% url 'register_admin' %}"><div class="btn btn-success">Register New Admin</div></a>
</div>
{% endblock %}