{% extends 'base.html' %}
{% load static %}

{% block title1 %}
  <title>LJ VirtualLab | Course</title>
{% endblock title1 %}

{% block Name %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Course(s)</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}" style="color: grey;">{{parent_department.institute_id.university_id.university_name}}</a></li>
          <li class="breadcrumb-item"><a href="{% url 'view_institute' parent_department.institute_id.university_id.id %}" style="color: grey;">{{parent_department.institute_id.institute_name}}</a></li>
          <li class="breadcrumb-item"><a href="{% url 'view_department' parent_department.institute_id.id %}" style="color: grey;">{{parent_department.department_name}}</a></li>
          <li class="breadcrumb-item active">Course</li>
        </ol>
      </div>
    </div>
  </div>
</section>
{% endblock %}

<!-- {% block edit %}
{% endblock edit %} -->

{% block NewContent %}
<section class="content">
  <div class="container-fluid">
    {% if error %}
      <div class="text-danger">{{ error }}</div>
    {% endif %}
    <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body table-responsive p-0">
              <table class="table table-hover">
                <thead>
                  <tr style="text-align: center;">
                    <th>SR no.</th>
                    <th style="text-align: left;">Course</th>
                    <th style="text-align: left;">Course Code</th>
                    <th>Syllabus</th>
                    <th>Last Updated</th>
                    <th>Action</th>
                  </tr>
                </thead>
                
                  {% for i in course %}
                  <tbody>
                    <tr style="text-align: center;">
                      <td>{{forloop.counter}}.</td>
                      <td style="text-align: left;"><a href="{% url 'view_practical' i.id %}"><b style="color: black;">{{ i.courses_name }}</b></a></td>
                      <td style="text-align: left;"><b>{{ i.courses_code }}</b></td>
                      <td>{{ i.courses_syllabus }}</td>
                      <td>{{ i.update_date_time }}</td>
                      <td>
                        <a href="{% url 'update_course' i.id %}" class="badge bg-primary" onclick="check_permission_update()">Update</a>
                        <a href="{% url 'delete_course' i.id %}" class="badge bg-danger" onclick="check_permission_delete()">Delete</a>
                      </td>
                    </tr>
                  </tbody>
                  {% endfor %}
              </table>
            </div>
          </div>
          <a href="{% url 'add_course' parent_department.id %}"><div class="btn btn-success" onclick="check_permission_add()">Add Course</div></a>
        </div>
    </div>
  </div>
</section>

{% endblock %}