{% extends 'base.html' %}
{% load static %}

{% block title1 %}
  <title>LJ VirtualLab | Update University</title>
{% endblock title1 %}

{% block Name %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Update University</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
          <li class="breadcrumb-item active">update_university</li>
        </ol>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block NewContent %}
<section class="content">
  <div class="container-fluid">
    {% if error %}
      <div class="text-danger">{{ error }}</div>
    {% endif %}
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary">
          <div class="card-header">
              <h3 class="card-title">Update University</h3>
          </div>
          <div class="card-body table-responsive">
            <div class="tab-content">
                <form method="POST" class="form-horizontal" enctype="multipart/form-data" autocomplete="off">
                  {% csrf_token %}
                  <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label">University Name</label>
                    <div class="col-sm-10">
                      <input type="text" name="univ1" class="form-control" id="inputName" value="{{ Update_Univ.university_name }}" placeholder="University Name" required>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label">Unique Number</label>
                    <div class="col-sm-10">
                      <input type="text" name="uno1" class="form-control" id="inputName" value="{{ Update_Univ.university_unique_num }}" placeholder="University Name"  required>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label">Address  </label>
                    <div class="col-sm-10">
                      <textarea id="inputName" class="form-control" rows="3"  name="add1" placeholder="Address">{{ Update_Univ.university_address }}</textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label">City</label>
                    <div class="col-sm-10">
                      <input type="text" name="city1" class="form-control" id="inputName" value="{{ Update_Univ.university_city }}" placeholder="University Name">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label">State</label>
                    <div class="col-sm-10">
                      <input type="text" name="state1" class="form-control" id="inputName" value="{{ Update_Univ.university_state }}" placeholder="University Name">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                      <button type="submit" class="btn btn-success">Update University</button>
                    </div>
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}