{% extends 'base.html' %}
{% load static %}

{% block title1 %}
  <title>LJ VirtualLab | Add Images</title>
{% endblock title1 %}

{% block Name %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Add Images</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}" style="color: grey;">{{parent_practical.course_id.department_id.institute_id.university_id.university_name}}</a></li>
          <li class="breadcrumb-item"><a href="{% url 'view_institute' parent_practical.course_id.department_id.institute_id.university_id.id %}" style="color: grey;">{{parent_practical.course_id.department_id.institute_id.institute_name}}</a></li>
          <li class="breadcrumb-item"><a href="{% url 'view_department' parent_practical.course_id.department_id.institute_id.id %}" style="color: grey;">{{parent_practical.course_id.department_id.department_name}}</a></li>
          <li class="breadcrumb-item"><a href="{% url 'view_course' parent_practical.course_id.department_id.id %}" style="color: grey;">{{parent_practical.course_id.courses_name}}</a></li>
          <li class="breadcrumb-item"><a href="{% url 'view_practical' parent_practical.course_id.id %}" style="color: grey;">{{parent_practical.practical_name}}</a></li>
          <li class="breadcrumb-item"><a href="{% url 'view_practical_details' parent_practical.id %}" style="color: grey;">Practical_Details</a></li>
          <li class="breadcrumb-item active">Add_Images</li>
        </ol>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block NewContent %}
<form method="POST" autocomplete="off" enctype="multipart/form-data">
  {% csrf_token %}
  {% if error %}
    <div class="text-danger" style="margin-left: 10px;">{{ error }}</div>
  {% endif %}
<div class="row">
  <div class="col-md-6">
    <div class="card card-info">
      <div class="card-header">
        <h3 class="card-title">Add Images</h3>

      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="inputParameter">Choose Files</label>
          <input type="file" name="img1" id="inputParameter" class="form-control" required>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <input type="submit" name="add_another" value="Save and Add Another" class="btn btn-success float-right" style="margin: 0 0 0 5px;">
        <input type="submit" name="finish" value="Save & Finish" class="btn btn-success float-right">
      </div>
    </div>
  </div>
</div>

</form>
{% endblock %}