{% extends 'base.html' %}
{% load static %}

{% block title1 %}
  <title>LJ VirtualLab | Practical</title>
{% endblock title1 %}

{% block Name %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Practical(s)</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}" style="color: grey;">University</a></li>
          <li class="breadcrumb-item"><a href="{% url 'view_institute' parent_course.department_id.institute_id.university_id.id %}" style="color: grey;">Institute</a></li>
          <li class="breadcrumb-item"><a href="{% url 'view_department' parent_course.department_id.institute_id.id %}" style="color: grey;">Department</a></li>
          <li class="breadcrumb-item"><a href="{% url 'view_course' parent_course.department_id.id %}" style="color: grey;">Course</a></li>
          <li class="breadcrumb-item active">Practical</li>
        </ol>
      </div>
    </div>
  </div>
</section>
{% endblock %}

<!-- {% block edit %}
{% endblock edit %} -->

{% block NewContent %}
<section class="content">
  <div class="container-fluid">
    {% if error %}
      <div class="text-danger">{{ error }}</div>
    {% endif %}
    <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body table-responsive p-0">
              <table class="table">
                <thead>
                  <tr style="text-align: center;">
                    <th>SR no.</th>
                    <th style="text-align: left;">Practical Name</th>
                    <th>Feature Image</th>
                    <th>Last Updated</th>
                    <th>Action</th>
                  </tr>
                </thead>
                
                  {% for i in practical %}
                  <tbody>
                    <tr style="text-align: center;">
                      <td>{{forloop.counter}}.</td>
                      <td style="text-align: left;"><a href="{% url 'view_practical_details' i.id %}"><b style="color: black;">{{ i.practical_name }}</b></a></td>
                      {% if i.practical_feature_image %}
                      <td><img src="{{i.practical_feature_image.url}}" width="50px"></td>
                      {% else %}
                      <td> No Image </td>
                      {% endif %}
                      <td>{{ i.update_date_time }}</td>
                      <td>
                        <a href="{% url 'update_practical' i.id %}" class="badge bg-primary" onclick="check_permission_update()">Update</a>
                        <a href="{% url 'delete_practical' i.id %}" class="badge bg-danger" onclick="check_permission_delete()">Delete</a>
                      </td>
                    </tr>
                  </tbody>
                  {% endfor %}
              </table>
            </div>
          </div>
          <a href="{% url 'add_practical' parent_course.id %}"><div class="btn btn-success" onclick="check_permission_add()">Add Practical</div></a>
        </div>
    </div>
  </div>
</section>

{% endblock %}