{% extends 'base.html' %}
{% load static %}

{% block title1 %}
  <title>LJ VirtualLab | Update Materials</title>
{% endblock title1 %}

{% block Name %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Update Materials</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}" style="color: grey;">University</a></li>
          <li class="breadcrumb-item"><a href="{% url 'view_institute' parent_practical.course_id.department_id.institute_id.university_id.id %}" style="color: grey;">Institute</a></li>
          <li class="breadcrumb-item"><a href="{% url 'view_department' parent_practical.course_id.department_id.institute_id.id %}" style="color: grey;">Department</a></li>
          <li class="breadcrumb-item"><a href="{% url 'view_course' parent_practical.course_id.department_id.id %}" style="color: grey;">Course</a></li>
          <li class="breadcrumb-item"><a href="{% url 'view_practical' parent_practical.course_id.id %}" style="color: grey;">Practical</a></li>
          <li class="breadcrumb-item"><a href="{% url 'view_practical_details' parent_practical.id %}" style="color: grey;">Practical_Details</a></li>
          <li class="breadcrumb-item active">Update_Materials</li>
        </ol>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block NewContent %}
<form method="POST" autocomplete="off" enctype="multipart/form-data">
  {% csrf_token %}
  {% if error %}
    <div class="text-danger" style="margin-left: 10px;">{{ error }}</div>
  {% endif %}
<div class="row">
  <div class="col-md-6">
    <div class="card card-info">
      <div class="card-header">
        <h3 class="card-title">Materials</h3>

      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="inputParameter">Name</label>
          <input type="text" name="nm1" id="inputParameter" class="form-control" value="{{ update_materials.material_name }}" placeholder="Material Name" required>
        </div>
        <div class="form-group">
          <label for="customFile">File</label>
          <div class="text-secondary float-right" style="font-size: 15px;">{{ update_materials.material_file_path }}</div>
          <input type="file" name="path1" id="customFile" class="form-control" value="{{ update_materials.material_file_path }}" placeholder="Add File">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <input type="submit" name="add_another" value="Save and Add Another" class="btn btn-success float-right" style="margin: 0 0 0 5px;">
        <input type="submit" name="finish" value="Save & Finish" class="btn btn-success float-right">
      </div>
    </div>
  </div>
</div>

</form>
{% endblock %}