{% extends 'base.html' %}
{% load static %}

{% block title1 %}
  <title>LJ VirtualLab | Update Parameters</title>
{% endblock title1 %}

{% block Name %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Update Input Parameters</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}" style="color: grey;">University</a></li>
          <li class="breadcrumb-item"><a href="{% url 'view_institute' parent_practical.course_id.department_id.institute_id.university_id.id %}" style="color: grey;">Institute</a></li>
          <li class="breadcrumb-item"><a href="{% url 'view_department' parent_practical.course_id.department_id.institute_id.id %}" style="color: grey;">Department</a></li>
          <li class="breadcrumb-item"><a href="{% url 'view_course' parent_practical.course_id.department_id.id %}" style="color: grey;">Course</a></li>
          <li class="breadcrumb-item"><a href="{% url 'view_practical' parent_practical.course_id.id %}" style="color: grey;">Practical</a></li>
          <li class="breadcrumb-item"><a href="{% url 'view_practical_details' parent_practical.id %}" style="color: grey;">Practical_Details</a></li>
          <li class="breadcrumb-item active">Update_Input_Parameters</li>
        </ol>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block NewContent %}
<form method="POST" autocomplete="off" enctype="multipart/form-data">
  {% csrf_token %}
  {% if error %}
    <div class="text-danger" style="margin-left: 10px;">{{ error }}</div>
  {% endif %}
<div class="row">
  <div class="col-md-6">
    <div class="card card-secondary">
      <div class="card-header">
        <h3 class="card-title">Input Parameters</h3>

      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="inputParameter">Name</label>
          <input type="text" name="parameter1" id="inputParameter" class="form-control" placeholder="Parameter Name" value="{{ update_input_parameters.input_parameter_name }}" required>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <input type="submit" name="add_another" value="Save and Add Another" class="btn btn-success float-right" style="margin: 0 0 0 5px;" onclick="check_permission_add()">
        <input type="submit" name="finish" value="Save & Finish" class="btn btn-success float-right" style="margin: 0 0 0 5px;">
        <a href="{% url 'delete_input_parameters' update_input_parameters.id %}" class="btn btn-danger float-right" onclick="check_permission_delete()">Delete</a>
      </div>
    </div>
  </div>
</div>

</form>
{% endblock %}